<%= form_for(@item, html: {multipart: true} ) do |f| %>
        
      <%= f.label :item_name %>
      <%= f.text_field :item_name, :placeholder => "placeholder text" %>
      <span class="picture">
        <%= f.file_field :item_picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      <%= f.label :purchase_date %>
      <%= f.date_field :purchase_date, class: "form-control" %>
      
      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control", step: "0.01" %>
      <%= f.label :Home %>
      <%= f.select :home_id, current_user.homes.collect{ |c| [c.home_name, c.id] } %>
      <%= f.label :Room %>
      <%= f.select :room_id, current_user.rooms.collect{ |c| [c.room_name, c.id] } %>
      
      
      <%= f.submit class:"btn btn-success" %>
        
      <% end %>
      
      
