<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Insurable", '', class: "btn-lg", id: "logo"%>
      <% if logged_in? %>
        <div class="nav_user_icon">
          <div class="dropdown">
            <%= link_to '#', class: "btn btn-default dropdown-toggle", "data-toggle" => "dropdown" do %>
            <%= current_user.name %> <b class="caret"></b>
            <% end %>
            <ul class='dropdown-menu'>
                <li><%= link_to "Profile Summary", user_path(current_user) %></li>
                <li><%= link_to "Edit Profile", '' %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", logout_path %></li>
              </ul>
            </div>
          </div>
        <% else %>
           <div class="nav_user_icon">
          <%= link_to "Sign Up", register_path, class: "btn btn-default" %>
        </div>
        <div class="nav_user_icon">
          <%= link_to "login", login_path, class: "btn btn-primary", id:"login-active" %>
        </div>
        <% end %>
    </div>
</header>