<!DOCTYPE html>
<html>
<head>
  <title>Insurable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render "layouts/navigation" %>

<div class="container">

  <%= render 'layouts/messages' %>

  <%= yield %>

  
  
  <!--<div class='footer col-md-12'>
    <div class='pull-right'>
      <p>&copy; Twiggystudios</p>
    </div>
  </div>-->
</div>
</body>
</html>

