<!DOCTYPE html>
<html>
<head>
  <title>Insurable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navigation" %>
<div class="container">
  <%= yield %>

  <hr/>
  <div class='footer'>
    <div class='pull-right'>
      <p>&copy; Twiggystudios</p>
    </div>
  </div>
</div>  
</body>
</html>
